Assignment Topic:

I was provided with an empty Jupyterlite notebook which I launched in the course, to complete this assignment. I needed to include a combination of markdown and code cells. I did not needed to use the Markdown cheat sheet to help me determine the appropriate syntax for my markdown

 Exercise 1: Create a Jupyter Notebook

'Exercise 2 - Create a markdown cell with the title of the notebook.'

# Data Science Tools and Ecosystem
## Exercise 3 - Create a markdown cell for an introduction.

 ### Objectives:

   >List popular languages that Data Scientists use.

   >List commonly used libraries used by Data Scientists.

   >Comment on Data Science tools.

## Exercise 4 - Create a markdown cell to list data science languages.
Some of the popular languages that Data Scientists use are:

>Python

>R

>SQL

>Java

>Julia

>Scala

>C/C++

>JavaScript


 ## Exercise 5 - Create a markdown cell to list data science libraries.
 Some of the commonly used libraries used by Data Scientists include:

>TensorFlow.

>NumPy.

>SciPy.

>Scrapy.

>BeautifulSoup.

>LightGBM.

>ELI5.

>Theano.

>NuPIC.

>Ramp.

>Pipenv.

>Bob.

>PyBrain.

>Caffe2.

>Chainer

## Exercise 6 - Create a markdown cell with a table of Data Science tools
|Tools for Data Science|
|----------------------|
|Project Jupyter|
|RStudio|
|SAS|
|Python|
|Apache Spark|
|Tensor Flow|

## Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)
## Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
## Arithimetic Operations
## Addition
a=10
b=30
c=a+b
print("Answer=",c)
# Result:40

Answer= 40

In [5]:
## Arithimetic Operations
## Addition
a=10
b=45
c=a*b
print("Answer=",c)
# Result:450

Answer= 450

## Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)
## This a simple arithmetic expression to mutiply then add integers

In [7]:
## This a simple arithmetic expression to mutiply then add integers
exp=(3*4)+5
print("Answer=",exp)
#Result:17

Answer= 17

## Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)
## This will convert 200 minutes to hours by diving by 60

In [11]:
##given time in minutes=200
#for covert it into hours formula is 200/60
time1=200
time2=time1/60
print("Time in min :",time1 ,
      "Time in hours:",time2)

Time in min : 200 Time in hours: 3.3333333333333335

# Exercise 10 - Insert a markdown cell to list Objectives
Objectives:
1.List of popular languages used in Data Science.

2.Some of the commonly used libraries used by Data Scientists

3.Some Arithimetic Expression codes.

4.Table of Data Science tools etc.

### Exercise 11 - Create a markdown cell to indicate the Author's name
## Author
## Krishan